[Unit]
Description=Node.js Cart Service

[Service]
User=${APP_USER}
ExecStart=/bin/node /home/${APP_USER}/cart/server.js
Restart=always
RestartSec=10
StandardOutput=append:/var/log/robo-shop/cart.log
StandardError=append:/var/log/robo-shop/cart.log
SyslogIdentifier=cart
[Install]
WantedBy=multi-user.target
